@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
}

@layer utilities {
  @variants responsive {
    .masonry {
        column-gap: 1.5rem;
        column-count: 1;
    }
    .masonry-lg {
        column-gap: 2rem;
        column-count: 2;
    }
    .break-inside {
        break-inside: avoid;
    }
  }
}

@layer components {
  /* fonts */
  .heebo-font {
    font-family: theme("fontFamily.Heebo");
  }
  .mont-font {
    font-family: theme("fontFamily.Mont");
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @extend .heebo-font;
    @apply bg-background relative min-h-screen;
  }
  /* divider */
  .divider {
    @apply h-px w-full;
  }
  /* active color */
  .active {
    @apply text-secondary;
  }
  /* rotate 180 degrees */
  .flip {
    transition: transform .5s;
    transform: rotate(-180deg);
  }
  /* headings */
  .mont-heading {
    @extend .mont-font;
    @apply font-extrabold leading-relaxed text-primary;
  }
  .heebo-heading {
    @extend .heebo-font;
    @apply font-extrabold leading-relaxed text-primary;
  }
  /* titles */
  .primary-title {
    @extend .heebo-font;
    @apply text-primary-60 uppercase tracking-wider text-xs leading-normal;
  }
  .secondary-title {
    @extend .heebo-font;
    @apply text-secondaryDark uppercase tracking-wider text-xs leading-normal;
  }
  /* texts */
  .regular-text {
    @extend .heebo-font;
    @apply text-base leading-relaxed text-dark font-normal;
  }
  .medium-text {
    @extend .heebo-font;
    @apply text-base leading-relaxed text-dark font-medium;
  }
  .bold-text {
    @extend .heebo-font;
    @apply text-base leading-relaxed text-dark font-bold;
  }
  /* labels */
  .btn-label-medium {
    @extend .heebo-font;
    @apply text-base leading-normal text-dark font-medium;
  }
  .label-bold-12 {
    @extend .heebo-font;
    @apply text-xs leading-normal tracking-wide text-dark font-bold;
  }
  .uppercase-label-medium {
    @extend .heebo-font;
    @apply text-xs leading-normal tracking-wider text-dark font-medium uppercase;
  }
  .sm-label {
    @extend .heebo-font;
    @apply text-sm leading-normal text-dark;
  }
  .sm-label-regular {
    @extend .sm-label;
    @apply font-normal;
  }
  .sm-label-medium {
    @extend .sm-label;
    @apply font-medium;
  }
  .sm-label-bold {
    @extend .sm-label;
    @apply font-extrabold;
  }
  /* buttons */
  /* primary buttons */
  .default-primary-btn {
    @extend .heebo-font;
    @apply w-max bg-primary rounded-lg text-white font-medium leading-normal;
    &:focus {
      @apply outline-none ring-2 ring-secondary-40;
    }
    &:hover {
      @apply bg-primary-80;
      label {
        @apply cursor-pointer;
      }
    }
    &:active {
      @apply bg-primaryDark;
    }
    span {
      @apply text-base leading-none;
    }
  }
  .primary-btn {
    @extend .default-primary-btn;
    @apply py-3 px-5 text-base;
  }
  .primary-mix-btn {
    @extend .primary-btn;
    @apply flex items-center space-x-2;
  }
  .primary-icon-btn {
    @extend .default-primary-btn;
    @apply flex p-4 text-base;
  }
  .small-primary-btn {
    @extend .default-primary-btn;
    @apply px-3 py-2 text-sm leading-normal;
  }
  .small-primary-mix-btn {
    @extend .small-primary-btn;
    @apply flex items-center space-x-2;
  }
  .small-primary-icon-btn {
    @extend .default-primary-btn;
    @apply flex text-sm p-2.5 leading-normal;
  }
  /* disabled primary buttons */
  .default-primary-btn_disabled {
    @extend .heebo-font;
    @apply bg-primary-5 rounded-lg text-primary-20 font-medium leading-normal cursor-not-allowed;
    &:focus {
      @apply outline-none;
    }
    &:hover {
      label {
        @apply cursor-not-allowed;
      }
    }
    span {
      @apply text-base leading-none;
    }
  }
  .primary-btn_disabled {
    @extend .default-primary-btn_disabled;
    @apply py-3 px-5 text-base;
  }
  .primary-mix-btn_disabled {
    @extend .primary-btn_disabled;
    @apply flex items-center space-x-2;
  }
  .primary-icon-btn_disabled {
    @extend .default-primary-btn_disabled;
    @apply flex p-4 text-base;
  }
  .small-primary-btn_disabled {
    @extend .default-primary-btn_disabled;
    @apply px-3 py-2 text-sm leading-normal;
  }
  .small-primary-mix-btn_disabled {
    @extend .small-primary-btn_disabled;
    @apply flex items-center space-x-2;
  }
  .small-primary-icon-btn_disabled {
    @extend .default-primary-btn_disabled;
    @apply flex text-sm p-2.5 leading-normal;
  }
  /* minimal buttons */
  .default-minimal-btn {
    @extend .heebo-font;
    @apply w-max bg-white rounded-lg border-2 border-solid border-primary-5 text-primaryDark font-medium leading-normal flex items-center;
    &:focus {
      @apply bg-primary-5 outline-none border-primary-40;
    }
    &:hover {
      @apply border-primary-20;
      label {
        @apply cursor-pointer;
      }
    }
    &:active {
      @apply border-primary;
    }
    span {
      @apply text-base leading-none;
    }
    label {
      @apply cursor-pointer;
    }
  }
  .minimal-btn {
    @extend .default-minimal-btn;
    @apply text-base py-2.5 px-4.5;
  }
  .minimal-mix-btn {
    @extend .minimal-btn;
    @apply flex items-center space-x-2;
  }
  .minimal-icon-btn {
    @extend .default-minimal-btn;
    @apply flex items-center text-base p-3.5;
  }
  .small-minimal-btn {
    @extend .default-minimal-btn;
    @apply text-sm py-1.5 px-2.5 leading-normal;
  }
  .small-minimal-mix-btn {
    @extend .small-minimal-btn;
    @apply flex items-center space-x-2;
  }
  .small-minimal-icon-btn {
    @extend .default-minimal-btn;
    @apply flex items-center text-sm p-2 leading-normal;
  }
  /* disabled minimal buttons */
  .default-minimal-btn_disabled {
    @extend .heebo-font;
    @apply bg-white rounded-lg border-2 border-solid border-primary-5 text-primary-20 font-medium leading-normal cursor-not-allowed;
    &:focus {
      @apply outline-none;
    }
    &:hover {
      label {
        @apply cursor-not-allowed;
      }
    }
    span {
      @apply text-base leading-none;
    }
  }
  .minimal-btn_disabled {
    @extend .default-minimal-btn_disabled;
    @apply text-base py-2.5 px-4.5;
  }
  .minimal-mix-btn_disabled {
    @extend .minimal-btn_disabled;
    @apply flex items-center space-x-2;
  }
  .minimal-icon-btn_disabled {
    @extend .default-minimal-btn_disabled;
    @apply flex text-base p-3.5;
  }
  .small-minimal-btn_disabled {
    @extend .default-minimal-btn_disabled;
    @apply text-sm py-1.5 px-2.5 leading-normal;
  }
  .small-minimal-mix-btn_disabled {
    @extend .small-minimal-btn_disabled;
    @apply flex items-center space-x-2;
  }
  .small-minimal-icon-btn_disabled {
    @extend .default-minimal-btn_disabled;
    @apply flex text-sm p-2 leading-normal;
  }
  /* tiny icon button */
  .tiny-icon-btn {
    @apply w-8 h-8 p-1;
    div {
      @apply w-6 h-6 p-2 bg-primary-5 flex items-center justify-center rounded-lg text-base text-primaryDark;
    }
    &:focus {
      div {
        @apply bg-primary-20;
      }
    }
    &:hover {
      div {
        @apply bg-primary-80 text-white;
      }
    }
    &:active {
      div {
        @apply bg-primaryDark text-white;
      }
    }
  }
  .tiny-icon-btn_disabled {
    @apply w-8 h-8 p-1;
    div {
      @apply w-6 h-6 p-2 bg-primary-5 flex items-center justify-center rounded-lg text-base text-primary-20 cursor-not-allowed;
    }
  }
  /* links */
  .default-text-link {
    @extend .heebo-font;
    @apply text-primaryDark leading-normal font-medium underline decoration-secondary-5;
    label {
        @apply cursor-pointer;
    }
    &:focus {
      @apply decoration-secondary-5 bg-secondary-5;
    }
    &:hover {
      @apply decoration-secondary;
    }
    &:active {
      @apply decoration-secondaryDark;
    }
  }
  .text-link {
    @extend .default-text-link;
    @apply text-base;
  }
  .small-text-link {
    @extend .default-text-link;
    @apply text-sm;
  }
  .default-text-link_disabled {
    @extend .heebo-font;
    @apply text-primary-20 leading-normal font-medium underline decoration-primary-5;
    label {
      @apply cursor-not-allowed;
    }
  }
  .text-link_disabled {
    @extend .default-text-link_disabled;
    @apply text-base;
  }
  .small-text-link_disabled {
    @extend .default-text-link_disabled;
    @apply text-sm;
  }
  /* tags */
  .default-tag {
    @extend .heebo-font;
    @apply flex items-center space-x-2 rounded-lg border-2 border-primary-5 text-primaryDark leading-normal font-medium;
    &:focus {
      @apply bg-primary-5 border-primary-40;
      div {
        @apply text-primaryDark bg-primary-20;
      }
    }
    &:hover {
      @apply border-primary-20;
      div {
        @apply bg-primary-80 text-white;
      }
    }
    &:active {
      @apply border-primary;
      div {
        @apply text-white bg-primaryDark;
      }
    }
    div {
      @apply p-1 bg-primary-5 flex items-center rounded-lg text-primaryDark leading-none;
    }
  }
  .tag {
    @extend .default-tag;
    @apply py-2.5 pr-2.5 pl-3.5 text-base space-x-3;
  }
  .small-tag {
    @extend .default-tag;
    @apply py-1.5 pr-1.5 pl-2.5 text-sm space-x-2;
    div {
      @apply text-xs;
    }
  }
  .default-tag_disabled {
    @extend .heebo-font;
    @apply flex items-center rounded-lg border-2 border-primary-5 cursor-not-allowed text-primary-20 leading-normal font-medium;
    div {
      @apply p-1 bg-primary-5 flex items-center rounded-lg text-primary-20;
    }
  }
  .tag_disabled {
    @extend .default-tag_disabled;
    @apply py-2.5 pr-2.5 pl-3.5 text-base space-x-3;
  }
  .small-tag_disabled {
    @extend .default-tag_disabled;
    @apply py-1.5 pr-1.5 pl-2.5 text-sm space-x-2;
    div {
      @apply text-xs;
    }
  }
  /* badges */
  .default-badge {
    @extend .heebo-font;
    @apply px-1.5 py-0.5 w-max flex items-center rounded font-bold text-xs leading-normal tracking-wide;
  }
  .neutral-badge {
    @extend .default-badge;
    @apply bg-dark-5 text-dark-80;
  }
  .blue-badge {
    @extend .default-badge;
    @apply bg-blue-5 text-blue;
  }
  .green-badge {
    @extend .default-badge;
    @apply bg-green-5 text-green;
  }
  .orange-badge {
    @extend .default-badge;
    @apply bg-orange-5 text-orange;
  }
  .red-badge {
    @extend .default-badge;
    @apply bg-red-5 text-red-80;
  }
  .violet-badge {
    @extend .default-badge;
    @apply bg-violet-5 text-violet-80;
  }
  .primary-badge {
    @extend .default-badge;
    @apply bg-primary-5 text-primary-80;
  }
  .secondary-badge {
    @extend .default-badge;
    @apply bg-secondary-5 text-secondary;
  }
  /* circle icons */
  .default-circle-icon {
    @apply p-2.5 flex items-center justify-center rounded-full text-xl leading-none;
  }
  .dark-circle-icon {
    @extend .default-circle-icon;
    @apply bg-dark-5 text-dark-80;
  }
  .blue-circle-icon {
    @extend .default-circle-icon;
    @apply bg-blue-5 text-blue;
  }
  .green-circle-icon {
    @extend .default-circle-icon;
    @apply bg-green-5 text-green;
  }
  .orange-circle-icon {
    @extend .default-circle-icon;
    @apply bg-orange-5 text-orange;
  }
  .red-circle-icon {
    @extend .default-circle-icon;
    @apply bg-red-5 text-red-80;
  }
  .violet-circle-icon {
    @extend .default-circle-icon;
    @apply bg-violet-5 text-violet-80;
  }
  .primary-circle-icon {
    @extend .default-circle-icon;
    @apply bg-primary-5 text-primary-80;
  }
  .secondary-circle-icon {
    @extend .default-circle-icon;
    @apply bg-secondary-5 text-secondary;
  }
  /* small circle icons */
  .small-default-circle-icon {
    @apply p-2 flex items-center justify-center rounded-full text-base leading-none;
  }
  .small-dark-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-dark-5 text-dark-80;
  }
  .small-blue-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-blue-5 text-blue;
  }
  .small-green-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-green-5 text-green;
  }
  .small-orange-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-orange-5 text-orange;
  }
  .small-red-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-red-5 text-red-80;
  }
  .small-violet-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-violet-5 text-violet-80;
  }
  .small-primary-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-primary-5 text-primary-80;
  }
  .small-secondary-circle-icon {
    @extend .small-default-circle-icon;
    @apply bg-secondary-5 text-secondary;
  }
  /* checkbox */
  .default-checkbox {
    @apply form-checkbox text-secondary w-4.5 h-4.5 rounded border-2 border-secondary;
    &:focus {
      @apply border-secondary outline-0;
    }
    &:hover {
      @apply text-secondary-80 border-secondary-80 cursor-pointer;
    }
    &:active {
      @apply outline-0 ring-0 text-secondaryDark border-secondaryDark;
    }
    &:disabled {
      @apply text-secondary-20 border-secondary-20 cursor-not-allowed;
    }
  }
  .indeterminate-checkbox {
    /* @apply p-0.5 text-xl leading-none text-secondary flex items-center; */
    @apply form-check-input appearance-none h-4.5 w-4.5 border-2 border-secondary rounded bg-white transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
    &:checked {
        @apply bg-secondary border-secondary;
    }
    &:indeterminate {
        @apply bg-secondary border-secondary !important;
    }
    &:focus {
        @apply outline-none;
    }
    &:hover {
      @apply border-secondary-80 !important;
      &:checked, &:indeterminate {
          @apply bg-secondary-80 !important;
      }
    }
    &:active {
      @apply bg-secondaryDark border-secondaryDark !important;
    }
    &:disabled {
      @apply bg-secondary-20 border-secondary-20 cursor-not-allowed !important;
    }
  }
  /* radio */
  .default-radio {
    @apply form-radio w-4.5 h-4.5 rounded-full border-2 border-secondary cursor-pointer;
    &:focus {
      @apply ring-0 outline-0;
    }
    &:hover {
      @apply border-secondary-80;
    }
    &:active {
      @apply outline-0 ring-0 border-secondaryDark;
    }
    &:disabled {
      @apply border-secondary-20 cursor-not-allowed;
    }
    &:checked {
      @apply bg-white border-secondary bg-bgImgDark;
      &:hover {
        @apply border-secondary-80 bg-bgImgDefault;
      }
      &:active {
        @apply outline-0 ring-0 border-secondaryDark bg-bgImgDefault;
      }
      &:disabled {
        @apply bg-bgImgLight border-secondary-20;
      }
    }
  }
  /* toggle */
  .small-toggle {
    @apply w-8 relative flex justify-between items-center text-xl cursor-pointer;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-pointer;
    }
    span {
      @apply w-7.5 h-5.5 flex items-center flex-shrink-0 p-1 bg-white border-2 border-secondary rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-secondary rounded-full shadow-md transition duration-100;
      }
    }
    &:hover {
      span {
        @apply border-secondary-80;
        &::after {
          @apply bg-secondary-80;
        }
      }
    }
    &:active {
      span {
        @apply border-secondaryDark;
        &::after {
          @apply bg-secondaryDark;
        }
      }
    }
  }
  .small-toggle-checked_disabled {
    @apply w-8 relative flex justify-between items-center text-xl cursor-not-allowed;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-not-allowed;
    }
    span {
      @apply w-7.5 h-5.5 flex items-center flex-shrink-0 p-1 bg-secondary-20 border-2 border-secondary-20 rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-white rounded-full shadow-md transition duration-100 translate-x-2;
      }
    }
  }
  .small-toggle-unchecked_disabled {
    @apply w-8 relative flex justify-between items-center text-xl;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-not-allowed;
    }
    span {
      @apply w-7.5 h-5.5 flex items-center flex-shrink-0 p-1 bg-white border-2 border-secondary-20 rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-secondary-20 rounded-full shadow-md transition duration-100;
      }
    }
  }
  .big-toggle {
    @apply w-10 relative flex justify-between items-center text-xl cursor-pointer;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-pointer;
    }
    span {
      @apply w-10 h-7 flex items-center flex-shrink-0 p-1 bg-white border-4 border-secondary rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-secondary rounded-full shadow-md transition duration-100;
      }
    }
    &:hover {
      span {
        @apply border-secondary-80;
        &::after {
          @apply bg-secondary-80;
        }
      }
    }
    &:active {
      span {
        @apply border-secondaryDark;
        &::after {
          @apply bg-secondaryDark;
        }
      }
    }
  }
  .big-toggle-checked_disabled {
    @apply w-10 relative flex justify-between items-center text-xl cursor-not-allowed;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-not-allowed;
    }
    span {
      @apply w-10 h-7 flex items-center flex-shrink-0 p-1 bg-secondary-20 border-4 border-secondary-20 rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-white rounded-full shadow-md transition duration-100 translate-x-2.25;
      }
    }
  }
  .big-toggle-unchecked_disabled {
    @apply w-10 relative flex justify-between items-center text-xl;
    input {
      @apply absolute left-1/2 -translate-x-1/2 w-full h-full appearance-none rounded-md cursor-not-allowed;
    }
    span {
      @apply w-10 h-7 flex items-center flex-shrink-0 p-1 bg-white border-4 border-secondary-20 rounded-full transition duration-100 ease-in-out;
      &::after {
        @apply bg-secondary-20 rounded-full shadow-md transition duration-100;
      }
    }
  }
  /* pagination */
  .pagination-page-text {
    @extend .heebo-font;
    @apply text-base text-primaryDark font-medium leading-normal;
  }
  .pagination-page-text_disabled {
    @extend .heebo-font;
    @apply text-base text-primary-40 font-medium leading-normal cursor-not-allowed;
  }
  .pagination-btn {
    @apply flex items-center bg-white rounded-lg border-2 border-primary-5 p-2 text-base text-primaryDark;
    &:focus {
      @apply outline-none border-primary-40 bg-primary-5;
    }
    &:hover {
      @apply border-primary-20;
    }
    &:active {
      @apply border-primary;
    }
    &:disabled {
      @apply border-primary-5 text-primary-20 cursor-not-allowed;
    }
  }
  /* dropdown */
  .default-tab {
    @extend .mont-font;
    @apply w-max text-2xl leading-relaxed font-extrabold;
    div {
      @apply w-full h-0.5;
    }
  }
  .tab {
    @extend .default-tab;
    @apply flex flex-col space-y-2 text-primary-80;
    label {
      @apply cursor-pointer;
    }
    &:hover {
      div {
        @apply bg-secondary-40;
      }
    }
    &:active {
      div {
        @apply bg-secondaryDark;
      }
    }
    div {
      @apply bg-primary-5;
    }
  }
  .tab_active {
    @extend .default-tab;
    @apply flex flex-col space-y-2 text-primary;
    label {
      @apply cursor-pointer;
    }
    div {
      @apply bg-secondary;
    }
  }
  .tab_blocked {
    @extend .default-tab;
    @apply text-primary-20;
    label {
      @apply flex items-center cursor-not-allowed;
      span {
        @extend .heebo-font;
        @apply ml-2 px-1.5 py-0.5 text-secondary text-xs leading-normal font-bold tracking-wide;
      }
    }
    div {
      @apply bg-white;
    }
  }
  /* circle percent */
  .circle-progressbar {
    @extend .heebo-font;
    @apply inline-flex items-center justify-center w-max h-max;
    svg {
      @apply w-11 h-11 -rotate-90;
    }
    span {
      @apply absolute text-xs leading-normal font-bold text-primaryDark;
    }
  }
  /* icon + background */
  .small-icon-bg {
    @apply flex items-center w-max p-1 rounded bg-primary-5 text-primaryDark text-base leading-none font-bold;
  }
  .big-icon-bg {
    @apply flex items-center w-max p-1.5 rounded-lg bg-primary-5 text-primaryDark text-2xl leading-none font-bold;
  }
  /* top horizontal menu */
  .default-top-nav-btn {
    @extend .heebo-font;
    @apply py-3 px-5 bg-white flex items-center text-primaryDark text-base leading-normal font-medium rounded-lg ring-2 ring-primary-5;
    &:focus {
      @apply bg-white ring-1 ring-secondary;
    }
    &:hover {
      @apply bg-secondary-5;
    }
    &:active {
      @apply ring-1 ring-secondary-20 bg-secondary-5;
    }
  }
  .top-nav-left-icon-btn {
    @extend .default-top-nav-btn;
    @apply space-x-2;
    .icon {
      @apply text-secondary text-base leading-none animate-blink;
    }
    /* &:focus {
            .icon {
                @apply invisible;
            }
        } */
  }
  .user-dropdown {
    @apply relative inline-block w-max;
    .user-dropdown-btn {
      @extend .heebo-font;
      @apply py-4 px-5 inline-flex items-center space-x-5 bg-white;
      .label {
        @apply w-max flex flex-col items-start font-normal;
        .user-name {
          @apply text-sm leading-normal text-dark;
        }
        .user-title {
          @apply text-xs leading-4.5 text-dark-60;
        }
      }
      .icon {
        @apply flex items-center rounded-lg bg-primary-5 p-1.9 text-xs leading-none text-black;
      }
      &:focus {
        @apply bg-secondary-5 ring-1 ring-secondary-20;
        .icon {
          @apply bg-secondary text-white;
        }
      }
      &:hover {
        @apply bg-secondary-5;
        .icon {
          @apply bg-secondary text-white;
        }
      }
      &:active {
        @apply ring-1 ring-secondary;
        .icon {
          @apply bg-primary-5 text-black;
        }
      }
    }
    &:focus-within {
      .dropdown-menu {
        @apply h-max max-w-99.75 visible p-2 mt-1 shadow-dropdown-menu ring-1 ring-primary-5 left-auto;
      }
    }
  }
  /* Toast Alerts */
  .default-toast-alert {
    @extend .heebo-font;
    right: calc(50vw - 180px);
    @apply fixed lg:right-5 top-0 w-max p-0.75 border rounded-md z-10 opacity-0 bg-white;
    .content {
      @apply pl-4 pr-1 pt-1 pb-3 flex space-x-2.5 rounded;
      .left-content {
        @apply w-73 pt-2 flex flex-col text-sm leading-normal;
        .title {
          @apply font-extrabold;
        }
        .description {
          @apply text-dark-60 font-normal;
        }
      }
    }
  }
  .success-toast-alert {
    @extend .default-toast-alert;
    @apply border-green-20 shadow-success-toast;
    .content {
      @apply bg-green-5;
      .left-content {
        .title {
          @apply text-greenDark;
        }
      }
    }
  }
  .info-toast-alert {
    @extend .default-toast-alert;
    @apply border-blue-20 shadow-info-toast;
    .content {
      @apply bg-blue-5;
      .left-content {
        .title {
          @apply text-blueDark;
        }
      }
    }
  }
  .warn-toast-alert {
    @extend .default-toast-alert;
    @apply border-orange-40 shadow-warn-toast;
    .content {
      @apply bg-orange-5;
      .left-content {
        .title {
          @apply text-orangeDark;
        }
      }
    }
  }
  .error-toast-alert {
    @extend .default-toast-alert;
    @apply border-red-20 shadow-err-toast;
    .content {
      @apply bg-red-5;
      .left-content {
        .title {
          @apply text-redDark;
        }
      }
    }
  }
  .default-icon-toast-alert {
    @extend .heebo-font;
    @apply w-max p-0.75 border rounded-md bg-white;
    .content {
      @apply pl-4 pr-1 pt-1 pb-3 flex space-x-2.5 rounded;
      .left-content {
        @apply w-max pt-2 flex items-center space-x-4 text-sm leading-normal;
        .icon {
          @apply flex items-center text-2xl leading-none;
        }
        .info-content {
          @apply flex flex-col w-73;
          .title {
            @apply font-extrabold;
          }
          .description {
            @apply text-dark-60 font-normal;
          }
        }
      }
    }
  }
  .success-icon-toast-alert {
    @extend .default-icon-toast-alert;
    @apply border-green-20 shadow-success-toast;
    .content {
      @apply bg-green-5;
      .icon {
        @apply text-green;
      }
      .title {
        @apply text-greenDark;
      }
    }
  }
  .info-icon-toast-alert {
    @extend .default-icon-toast-alert;
    @apply border-blue-20 shadow-info-toast;
    .content {
      @apply bg-blue-5;
      .icon {
        @apply text-blue;
      }
      .title {
        @apply text-blueDark;
      }
    }
  }
  .warn-icon-toast-alert {
    @extend .default-icon-toast-alert;
    @apply border-orange-40 shadow-warn-toast;
    .content {
      @apply bg-orange-5;
      .icon {
        @apply text-orange;
      }
      .title {
        @apply text-orangeDark;
      }
    }
  }
  .error-icon-toast-alert {
    @extend .default-icon-toast-alert;
    @apply border-red-20 shadow-err-toast;
    .content {
      @apply bg-red-5;
      .icon {
        @apply text-red;
      }
      .title {
        @apply text-redDark;
      }
    }
  }
  /* inline alerts */
  .default-inline-alert {
    @extend .heebo-font;
    @apply w-max p-0.75 border-2 rounded-md;
    .content {
      @apply w-82 py-2.5 px-4 flex flex-col text-sm leading-normal border rounded;
      .title {
        @apply font-extrabold;
      }
      .description {
        @apply text-dark-60 font-normal;
      }
    }
  }
  .success-inline-alert {
    @extend .default-inline-alert;
    @apply border-green-20;
    .content {
      @apply border-green-5 text-greenDark;
    }
  }
  .info-inline-alert {
    @extend .default-inline-alert;
    @apply border-blue-20;
    .content {
      @apply border-blue-5 text-blueDark;
    }
  }
  .warning-inline-alert {
    @extend .default-inline-alert;
    @apply border-orange-40;
    .content {
      @apply border-orange-5 text-orangeDark;
    }
  }
  .error-inline-alert {
    @extend .default-inline-alert;
    @apply border-red-20;
    .content {
      @apply border-red-5 text-redDark;
    }
  }
  .default-icon-inline-alert {
    @extend .heebo-font;
    @apply w-max p-0.75 border-2 rounded-md bg-white;
    .content {
      @apply w-82 py-2.5 px-4 flex items-center text-sm leading-normal border rounded;
      .left-content {
        @apply flex items-center space-x-4;
        .info-content {
          @apply flex flex-col;
          .title {
            @apply font-extrabold;
          }
          .description {
            @apply text-dark-60 font-normal;
          }
        }
        .icon {
          @apply flex items-center text-2xl leading-none;
        }
      }
    }
  }
  .success-icon-inline-alert {
    @extend .default-icon-inline-alert;
    @apply border-green-20;
    .content {
      @apply border-green-5 text-greenDark;
    }
    .icon {
      @apply text-green;
    }
  }
  .info-icon-inline-alert {
    @extend .default-icon-inline-alert;
    @apply border-blue-20;
    .content {
      @apply border-blue-5 text-blueDark;
    }
    .icon {
      @apply text-blue;
    }
  }
  .warning-icon-inline-alert {
    @extend .default-icon-inline-alert;
    @apply border-orange-40;
    .content {
      @apply border-orange-5 text-orangeDark;
    }
    .icon {
      @apply text-orange;
    }
  }
  .error-icon-inline-alert {
    @extend .default-icon-inline-alert;
    @apply border-red-20;
    .content {
      @apply border-red-5 text-redDark;
    }
    .icon {
      @apply text-red;
    }
  }
  /* select options */
  .icon-option {
    @apply min-w-61 flex items-center space-x-3 py-3 pl-3 bg-white rounded text-primaryDark whitespace-nowrap overflow-hidden;
    .text {
      @extend .heebo-font;
      @apply text-base font-medium;
    }
    &:focus {
      @apply ring-1 bg-secondary-5 ring-secondary-20;
    }
    &:hover {
      @apply bg-secondary-5;
    }
    &:disabled {
      @apply text-primary-20 cursor-not-allowed;
    }
    label {
      @apply flex items-center space-x-3 cursor-pointer pointer-events-auto w-full;
    }
    .icon {
      @apply text-2xl leading-none;
    }
  }
  .text-option {
    @extend .heebo-font;
    @apply min-w-61 flex items-center space-x-3 py-3 pl-3 bg-white rounded text-primaryDark text-base font-medium whitespace-nowrap overflow-hidden;
    &:focus {
      @apply ring-1 bg-secondary-5 ring-secondary-20;
    }
    &:hover {
      @apply bg-secondary-5;
    }
    &:disabled {
      @apply text-primary-20 cursor-not-allowed;
    }
  }
  /* dropdown menu */
  .dropdown-menu {
    @apply absolute h-0 rounded-md invisible z-10 min-w-full bg-white left-0 right-0;
    .dropdown-container {
      @apply flex flex-col space-y-2 overflow-y-auto overflow-x-hidden h-max max-h-129 px-0.25;
      &::-webkit-scrollbar {
        @apply w-0.5 ml-2;
      }
      &::-webkit-scrollbar-track {
        @apply bg-secondary-5 border border-l-8 border-transparent;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-secondary rounded;
      }
      .badge-content {
        @apply pl-1.5 py-1.6;
      }
      .main-content {
        @apply flex flex-col space-y-0.25 py-0.25;
      }
      .divider {
        @apply bg-primary-5 my-2;
      }
      .sub-content-title {
        @extend .heebo-font;
        @apply py-1 px-3 text-primary-40 text-xs leading-normal font-medium uppercase tracking-wider;
      }
      li {
        @apply px-2 py-1 rounded whitespace-nowrap overflow-hidden;
        &:hover {
          @apply bg-secondary-5;
        }
      }
    }
  }
  /* dropdwon */
  .big-dropdown {
    @apply relative inline-block w-max;
    .dropdown-btn {
      @extend .heebo-font;
      @apply inline-flex items-center py-1.5 pl-3.5 pr-1.5 space-x-2 text-primaryDark text-base leading-normal font-medium rounded-lg border-2 border-primary-5 overflow-auto;
      div {
        @apply p-1.9 text-lg leading-none bg-primary-5 rounded-lg flex items-center;
      }
      &:focus {
        @apply border-primary-40;
        div {
          @apply bg-primary-20 text-primaryDark;
        }
      }
      &:hover {
        @apply border-primary-20;
        div {
          @apply bg-primary text-white;
        }
      }
      &:active {
        @apply border-primary;
        div {
          @apply bg-primary text-white;
        }
      }
      &:disabled {
        @apply border-primary-5 text-primary-20 cursor-not-allowed;
        div {
          @apply bg-primary-5 text-primary-20;
        }
      }
    }
    &:focus-within {
      .dropdown-menu {
        @apply h-max max-w-99.75 visible p-2 mt-1 shadow-dropdown-menu ring-1 ring-primary-5 left-auto;
      }
    }
  }
  .small-dropdown {
    @apply relative inline-block w-max;
    .dropdown-btn {
      @extend .heebo-font;
      @apply inline-flex items-center py-1.5 pl-2.5 pr-1.5 space-x-2 text-primaryDark text-sm leading-normal font-medium rounded-lg border-2 border-primary-5;
      div {
        @apply p-1 text-base leading-none bg-primary-5 rounded-lg flex items-center;
      }
      &:focus {
        @apply border-primary-40;
        div {
          @apply bg-primary-20 text-primaryDark;
        }
      }
      &:hover {
        @apply border-primary-20;
        div {
          @apply bg-primary text-white;
        }
      }
      &:active {
        @apply border-primary;
        div {
          @apply bg-primary text-white;
        }
      }
      &:disabled {
        @apply border-primary-5 text-primary-20 cursor-not-allowed;
        div {
          @apply bg-primary-5 text-primary-20;
        }
      }
    }
    .dropdown-menu {
      .text-option {
        @apply py-1.5 pl-2.5 pr-1.5 space-x-2 min-w-full;
      }
    }
    &:focus-within {
      .dropdown-menu {
        @apply h-max visible max-w-99.75 py-1 mt-1 shadow-dropdown-menu ring-1 ring-primary-5 right-auto;
      }
    }
  }
  .nav-dropdown {
    .dropdown-btn {
      @apply border-0 text-base p-0;
      &:hover {
        @apply border-0 bg-transparent;
        .navbtn-title {
            @apply text-primary;
        }
      }
      &:focus, &:active {
        @apply border-0 bg-transparent;
        .navbtn-title {
            @apply text-secondary;
        }
      }
    }
  }
  /* Cards - No Description */
  .no-des-btn-line-card {
    @apply w-85 px-1 lg:px-3 flex flex-col space-y-4;
    .card-main-content {
      @extend .mont-font;
      @apply flex items-center justify-between text-primary text-lg font-extrabold leading-relaxed;
    }
    .divider {
      @apply bg-primary-5 rounded;
    }
  }
  .no-des-btn-card {
    @extend .mont-font;
    @apply px-3 flex items-center justify-between w-85 text-primary text-lg font-extrabold leading-relaxed;
  }
  .no-des-line-card {
    @extend .mont-font;
    @apply w-85 px-3 flex flex-col text-primary text-lg font-extrabold leading-relaxed space-y-3.9;
    span {
      @apply -mt-0.125 w-max;
    }
    .divider {
      @apply bg-primary-5 rounded;
    }
  }
  .no-des-empty-card {
    @extend .mont-font;
    @apply w-85 px-3 flex items-center text-primary text-lg font-extrabold leading-relaxed;
    span {
      @apply -my-0.125 w-max;
    }
  }
  /* Cards - with Description */
  .with-des-btn-line-card {
    @apply w-85 px-3 flex flex-col space-y-4;
    .card-main-content {
      @apply flex items-center justify-between;
      div {
        @apply flex flex-col;
        label {
          @extend .mont-font;
          @apply text-primary text-lg font-extrabold leading-relaxed;
        }
        span {
          @extend .heebo-font;
          @apply text-sm leading-normal text-dark-80 font-normal;
        }
      }
    }
    .divider {
      @apply bg-primary-5 rounded;
    }
  }
  .with-des-btn-card {
    @apply w-85 px-3 flex items-center justify-between;
    div {
      @apply flex flex-col;
      label {
        @extend .mont-font;
        @apply text-primary text-lg font-extrabold leading-relaxed;
      }
      span {
        @extend .heebo-font;
        @apply text-sm leading-normal text-dark-80 font-normal;
      }
    }
  }
  .with-des-line-card {
    @apply w-85 px-3 flex flex-col space-y-4;
    .card-main-content {
      @apply flex flex-col;
      label {
        @extend .mont-font;
        @apply text-primary text-lg font-extrabold leading-relaxed;
      }
      span {
        @extend .heebo-font;
        @apply text-sm leading-normal text-dark-80 font-normal;
      }
    }
    .divider {
      @apply bg-primary-5 rounded;
    }
  }
  .with-des-empty-card {
    @apply w-85 px-3 flex flex-col;
    label {
      @extend .mont-font;
      @apply text-primary text-lg font-extrabold leading-relaxed;
    }
    span {
      @extend .heebo-font;
      @apply text-sm leading-normal text-dark-80 font-normal;
    }
  }
  /* card */
  .default-card {
    @apply flex flex-col space-y-4 px-3 py-6 bg-white rounded-lg shadow-base;
    .with-des-btn-line-card {
      @apply w-144;
    }
    .card-footer {
      @extend .heebo-font;
      @apply pl-3 text-primary-40 text-xs font-medium leading-normal tracking-wider uppercase;
    }
  }
  /* desktop modal */
  .desktop-modal {
    @extend .heebo-font;
    @apply relative mx-2 md:mx-auto w-full md:w-150 h-max pb-6 flex flex-col rounded md:rounded-lg md:ring-1 md:ring-dark-5 bg-white md:shadow-xl space-y-2;
    transform: translate(0px, 0px);
    transition: transform 0.6s ease;
    .modal-header {
      @apply px-4 py-3 flex items-center justify-between bg-background shadow-modal rounded-t-lg;
      .modal-title {
        @apply text-primary text-base leading-relaxed font-bold;
      }
    }
    .modal-content {
      @apply py-3 px-4 text-dark text-xs leading-normal font-medium tracking-wider overflow-y-auto;
      &::-webkit-scrollbar {
        @apply w-0.5 ml-2;
      }
      &::-webkit-scrollbar-track {
        @apply bg-secondary-5 border border-l-8 border-transparent;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-secondary-60 rounded;
      }
    }
  }
  /* mobile modal */
  .mobile-modal {
    @extend .heebo-font;
    @apply w-95 h-134.5 flex flex-col bg-white space-y-2;
    left: calc(50% - 375px / 2);
    top: calc(50% - 538px / 2);
    .modal-header {
      @apply px-4 py-3 flex items-center justify-between bg-background shadow-modal;
      .modal-title {
        @apply text-primary text-base leading-relaxed font-bold;
      }
    }
    .modal-footer {
      @apply min-h-35.25 py-3 px-4 text-dark text-xs leading-normal font-medium tracking-wider;
    }
  }
  /* tooltip */
  .tooltip {
    a {
      .tooltip-content {
        @apply max-w-64 px-2 py-1 bg-primaryDark hidden text-white text-sm leading-normal font-medium rounded;
      }
      &:hover {
        .tooltip-content {
          @apply block fixed overflow-hidden no-underline;
        }
      }
    }
  }
  .tooltip-content {
    @apply hidden max-w-64 px-2 py-1 bg-primaryDark text-white text-sm leading-normal font-medium rounded fixed z-10;
  }
  /* top bar */
  .topbar {
    @apply w-full flex items-center justify-between px-5;
    .logo-container {
      @apply flex items-center w-max;
    }
    .right-content {
      @apply flex items-center space-x-0.25;
      .change-help-content {
        @apply w-max pr-3 flex items-center space-x-1;
      }
    }
  }
  /* footer */
  .desktop-footer-bar {
    @extend .heebo-font;
    @apply w-full px-5 pt-5 pb-4 hidden lg:flex items-center bg-primary-5;
    .footer-text {
      @apply text-primary-40 text-sm leading-5.5 font-medium;
      a {
        @apply no-underline;
      }
    }
    .footer-menu {
      @apply flex-1 flex justify-center items-center space-x-6 text-primary-40 text-sm leading-normal font-normal;
    }
  }
  .mobile-footer-bar {
    @extend .heebo-font;
    @apply flex flex-col bg-primary-5 w-full pt-4 pb-6 space-y-2.5 overflow-hidden lg:hidden;
    .top-section {
      @apply flex py-1.5 px-4 space-x-4 text-primary-40 text-sm leading-normal font-normal whitespace-nowrap overflow-x-auto overflow-y-hidden;
    }
    .bottom-section {
      @apply flex flex-col px-4 space-y-4;
      .divider {
        @apply bg-background;
      }
      .main-footer {
        @apply flex items-center justify-between;
        .footer-text {
          @apply text-primary-40 text-sm leading-normal font-normal;
        }
      }
    }
  }
  /* topbar with menu */
  .menu-topbar {
    @apply w-full flex items-center justify-between pl-3 lg:pl-5 py-2 lg:py-0 pr-1 lg:pr-0;
    .left-content {
      @apply flex items-center space-x-9;
      .logo-content {
        @apply flex items-center w-max;
      }
      .menu-container {
        @extend .heebo-font;
        @apply hidden lg:flex items-center space-x-4 text-base text-primaryDark leading-normal font-medium;
        a {
            &:hover {
                @apply text-primary;
            }
            &:active, &:focus {
                @apply text-secondary;
            }
        }
        label {
          @apply flex items-center space-x-1.5 cursor-pointer;
          div {
            @apply flex items-center p-1.5 text-sm leading-none bg-primary-5 rounded-1.75;
          }
        }
      }
      .mobile-menu-title {
        @extend .heebo-font;
        @apply lg:hidden text-sm leading-normal font-extrabold text-white hidden;
      }
    }
    .right-content {
      @apply hidden lg:flex items-center lg:space-x-0.25;
      a {
          &:hover {
              label {
                  span:last-child {
                      @apply text-primary;
                  }
              }
          }
          &:active, &:focus {
              label {
                  span:last-child {
                      @apply text-secondary;
                  }
              }
          }
      }
    }
    /* Hamburger btn */
    .hamburger {
      @apply relative lg:hidden flex items-center p-3;
    }
    .change-help-container {
      @extend .heebo-font;
      @apply w-max pr-5 flex items-center space-x-5 text-base leading-normal font-medium text-primaryDark;
      label {
        @apply cursor-pointer;
      }
      .change-footer {
        @apply flex items-center space-x-2;
        .icon {
          @apply text-secondary text-base leading-none animate-blink;
        }
      }
    }
  }
  .navbar-dropdown-menu {
    @apply w-full flex-col py-4 space-y-2 hidden overflow-y-auto bg-white;
    height: calc(100vh - 76px);
    .navbar-dropdown-top-section {
      @apply flex flex-col space-y-4 bg-background;
      .change-help-content {
        @apply w-full flex px-4 space-x-3.8;
        a {
          @apply flex-1;
          button {
            @apply w-full justify-center;
          }
        }
      }
      .mobile-user-dropdown {
        @apply w-full px-0.25;
        .divider {
            @apply bg-primary-5;
        }
        .user-dropdown-btn {
          @extend .heebo-font;
          @apply w-full py-4 px-5 inline-flex items-center justify-between space-x-5 bg-white;
          .label {
            @apply w-max flex flex-col items-start font-normal;
            .user-name {
              @apply text-sm leading-normal text-dark;
            }
            .user-title {
              @apply text-xs leading-4.5 text-dark-60;
            }
          }
          .icon {
            @apply flex items-center rounded-lg bg-primary-5 p-1.9 text-xs leading-none text-black;
          }
          &:focus {
            @apply bg-secondary-5 ring-1 ring-secondary-20;
            .icon {
              @apply bg-secondary text-white;
            }
          }
          &:hover {
            @apply bg-secondary-5;
            .icon {
              @apply bg-secondary text-white;
            }
          }
          &:active {
            @apply ring-1 ring-secondary;
            .icon {
              @apply bg-primary-5 text-black;
            }
          }
        }
        .user-dropdown-menu {
            @apply relative rounded-md w-full bg-white left-0 right-0 mt-0.25 hidden;
            .dropdown-container {
              @apply flex flex-col space-y-2 overflow-y-auto overflow-x-hidden h-max max-h-129 px-0.25 m-2;
              &::-webkit-scrollbar {
                @apply w-0.5 ml-2;
              }
              &::-webkit-scrollbar-track {
                @apply bg-secondary-5 border border-l-8 border-transparent;
              }
              &::-webkit-scrollbar-thumb {
                @apply bg-secondary rounded;
              }
              .badge-content {
                @apply pl-1.5 py-1.6;
              }
              .main-content {
                @apply flex flex-col space-y-0.25 py-0.25;
              }
              .divider {
                @apply bg-primary-5 my-2;
              }
              .sub-content-title {
                @extend .heebo-font;
                @apply py-1 px-3 text-primary-40 text-xs leading-normal font-medium uppercase tracking-wider;
              }
              li {
                @apply px-2 py-1 rounded whitespace-nowrap overflow-hidden;
                &:hover {
                  @apply bg-secondary-5;
                }
              }
            }
        }
      }
      .divider {
        @apply bg-secondary-5;
      }
    }
    .menu-list {
      @extend .mont-font;
      @apply flex flex-col space-y-1 px-1;
      a {
        div {
          @apply w-full p-3 rounded bg-white text-base leading-5 text-primaryDark font-extrabold;
        }
      }
      .active {
        div{
          span {
            @apply text-secondary;
          }
        }
      }
      .menu-with-dropdown {
        @apply w-full flex flex-col space-y-1 text-primaryDark;
        .menu-tab {
          @apply p-3 flex justify-between items-center text-base leading-5 font-extrabold;
          div {
            @apply text-xs leading-none text-primaryDark p-1 rounded flex items-center;
            span {
                transition: transform 1s;
            }
          }
        }
        .content-list {
          @apply hidden flex-col space-y-1;
          div {
            @extend .heebo-font;
            @apply flex items-center py-2 pl-5 space-x-5 text-base leading-relaxed text-primaryDark font-normal;
            .icon {
              @apply text-playIcon text-primary leading-none;
            }
          }
          .divider {
            @apply bg-primary-5 h-0.25 p-0;
          }
          .active {
            @apply font-medium text-secondary bg-primary-5 rounded;
            .icon {
              @apply text-secondary;
            }
          }
        }
      }
    }
  }
  /* tabs bar */
  .tabs-bar {
    @apply flex flex-col space-y-1 py-6;
    .title-content {
      @extend .heebo-font;
      @apply flex items-center w-max space-x-1 text-primary-80 text-sm leading-normal font-normal;
      .icon {
        @apply text-xs leading-none;
      }
    }
    .tabs-content {
      @apply flex items-center space-x-10 whitespace-nowrap overflow-x-auto;
    }
  }

  .tab-content {
      @apply hidden;
  }
  /* tabs bar with button */
  .tabs-button-bar {
    @apply py-6 flex flex-col space-y-1;
    .title-content {
      @extend .heebo-font;
      @apply flex items-center w-max space-x-1 text-primary-80 text-sm leading-normal font-normal;
      .icon {
        @apply text-xs leading-none;
      }
    }
    .tabs-content {
      @apply flex items-center justify-between;
      .tabs-content-left {
        @apply flex items-center space-x-10;
      }
    }
  }
  /* filter */
  .filter {
      @apply fixed table top-0 left-0 w-screen h-screen z-50;
  }
  /* status-value-container */
  .status-value-container {
      @apply w-max flex items-center space-x-2 py-1 ;
      .icon {
          @apply text-base leading-normal;
      }
      label {
          @extend .heebo-font;
          @apply flex items-center space-x-1.25 text-sm leading-normal;
          .status-value {
              @apply font-bold;
          }
          .compare-label {
              @apply font-normal text-dark;
          }
      }
  }
  .down-status {
      @extend .status-value-container;
      .icon {
          @apply text-red;
      }
      label {
        .status-value {
            @apply text-red;
        }
      }
  }
  .up-status {
    @extend .status-value-container;
    .icon {
        @apply text-green;
    }
    label {
      .status-value {
          @apply text-green;
      }
    }
  }
  .neutral-status {
    @extend .status-value-container;
    .icon {
        @apply text-dark-60;
    }
    label {
      .status-value {
          @apply text-dark-60;
      }
    }
  }
  /* status card */
  .status-card {
      @apply w-full bg-white px-8 py-6 flex items-center justify-between rounded-2.5 border border-primary-5 shadow-base lg:shadow-none;
      .left-part {
          @apply flex flex-col space-y-2;
          .card-title {
              @extend .heebo-font;
              @apply text-dark text-xs leading-normal font-medium uppercase tracking-wider;
          }
          .card-content {
              @apply flex flex-col;
              .card-value {
                  @extend .mont-font;
                  @apply text-primary text-3xl leading-9.5 font-extrabold;
              }
          }
      }
      .right-part {
          @apply p-2 flex items-center space-x-1.5;
          .bar-container {
              @apply flex flex-col space-y-0.25 w-1 h-7.5;
              .empty-bar {
                  @apply flex-1 bg-dark-5 rounded;
              }
              .previous-bar {
                  @apply bg-primary rounded;
              }
              .current-bar {
                  @apply bg-blue rounded;
              }
          }
      }
  }
  /* quick button */
  .quick-btn {
      @apply flex lg:w-full;
      div:first-child {
          @apply rounded-l-2.5 p-4 items-center text-2xl leading-none text-white hidden miniDesktop:flex;
      }
      div:nth-child(2) {
          @extend .heebo-font;
          @apply rounded-2.5 miniDesktop:rounded-l-none miniDesktop:rounded-r-2.5 px-3 py-2 lg:py-4 lg:pl-4 flex-1 flex items-center text-white text-base leading-relaxed lg:leading-normal font-bold;
      }
  }

  /* single activity card */
  .single-activity {
      @apply w-full py-2 px-3 flex items-center space-x-4;
      div:last-child {
        @extend .heebo-font;
        @apply flex flex-col;
        span:last-child {
          @apply text-sm text-dark-80 leading-normal font-normal;
        }
        label {
          @apply flex items-center space-x-1.5 cursor-pointer;
          span:first-child {
            @apply text-dark text-base leading-relaxed font-medium;
          }
          span:last-child {
            @apply text-sm text-dark-80 leading-normal font-medium;
          }
          .icon {
            @apply text-dotIcon text-black leading-none;
          }
        }
      }
      &:hover {
        @apply bg-secondary-5 rounded-lg;
      }
  }

  /* single event element */
  .event-single-element {
    @extend .heebo-font;
    @apply w-full py-2 px-3 flex items-center justify-between cursor-pointer;
    .main-content {
      @apply w-full flex items-center space-x-4;
      .event-description-content {
        @apply flex flex-col;
        span:first-child {
          @apply text-dark text-base leading-relaxed font-medium;
        }
        span:last-child {
          @apply text-dark-80 text-sm leading-normal font-normal;
        }
      }
    }
    &:hover {
      @apply bg-secondary-5 rounded-lg;
      button {
        @apply flex;
      }
    }
  }
}
