@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon/icomoon.eot");
    src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dropdown:before {
    content: "\e900";
}

.icon-dropdown_up:before {
    content: "\e901";
}

.icon-dotseparator:before {
    content: "\e902";
}

.icon-zoom-out:before {
    content: "\e903";
}

.icon-zoom-in:before {
    content: "\e904";
}

.icon-zap:before {
    content: "\e905";
}

.icon-youtube:before {
    content: "\e906";
}

.icon-wine:before {
    content: "\e907";
}

.icon-window:before {
    content: "\e908";
}

.icon-wind:before {
    content: "\e909";
}

.icon-wifi-off:before {
    content: "\e90a";
}

.icon-wifi:before {
    content: "\e90b";
}

.icon-web-development:before {
    content: "\e90c";
}

.icon-watch:before {
    content: "\e90d";
}

.icon-warning:before {
    content: "\e90e";
}

.icon-wallet:before {
    content: "\e90f";
}

.icon-volume-off:before {
    content: "\e910";
}

.icon-volume-high:before {
    content: "\e911";
}

.icon-volume:before {
    content: "\e912";
}

.icon-video-recorder:before {
    content: "\e913";
}

.icon-video-off:before {
    content: "\e914";
}

.icon-vector:before {
    content: "\e915";
}

.icon-utensils:before {
    content: "\e916";
}

.icon-upload:before {
    content: "\e917";
}

.icon-update:before {
    content: "\e918";
}

.icon-unlock:before {
    content: "\e919";
}

.icon-undo:before {
    content: "\e91a";
}

.icon-underline:before {
    content: "\e91b";
}

.icon-umbrella:before {
    content: "\e91c";
}

.icon-twitter:before {
    content: "\e91d";
}

.icon-twitch:before {
    content: "\e91e";
}

.icon-tv:before {
    content: "\e91f";
}

.icon-tune:before {
    content: "\e920";
}

.icon-truck:before {
    content: "\e921";
}

.icon-trophy:before {
    content: "\e922";
}

.icon-trending-up:before {
    content: "\e923";
}

.icon-trending-down:before {
    content: "\e924";
}

.icon-trash:before {
    content: "\e925";
}

.icon-train:before {
    content: "\e926";
}

.icon-tool:before {
    content: "\e927";
}

.icon-toggle-on:before {
    content: "\e928";
}

.icon-toggle-off:before {
    content: "\e929";
}

.icon-timer:before {
    content: "\e92a";
}

.icon-tile-view:before {
    content: "\e92b";
}

.icon-ticket:before {
    content: "\e92c";
}

.icon-thumbs-up:before {
    content: "\e92d";
}

.icon-thumbs-down:before {
    content: "\e92e";
}

.icon-thermometer:before {
    content: "\e92f";
}

.icon-target:before {
    content: "\e930";
}

.icon-tag:before {
    content: "\e931";
}

.icon-table-tennis:before {
    content: "\e932";
}

.icon-tablet:before {
    content: "\e933";
}

.icon-sync:before {
    content: "\e934";
}

.icon-sun:before {
    content: "\e935";
}

.icon-store:before {
    content: "\e936";
}

.icon-stop:before {
    content: "\e937";
}

.icon-star:before {
    content: "\e938";
}

.icon-spray:before {
    content: "\e939";
}

.icon-spotify:before {
    content: "\e93a";
}

.icon-sort-decending:before {
    content: "\e93b";
}

.icon-sort-ascending:before {
    content: "\e93c";
}

.icon-sort:before {
    content: "\e93d";
}

.icon-snowflake:before {
    content: "\e93e";
}

.icon-snapchat:before {
    content: "\e93f";
}

.icon-smile:before {
    content: "\e940";
}

.icon-smart-watch:before {
    content: "\e941";
}

.icon-slack:before {
    content: "\e942";
}

.icon-size:before {
    content: "\e943";
}

.icon-shuffle:before {
    content: "\e944";
}

.icon-show:before {
    content: "\e945";
}

.icon-shopping-bag:before {
    content: "\e946";
}

.icon-ship:before {
    content: "\e947";
}

.icon-shield-check:before {
    content: "\e948";
}

.icon-shield:before {
    content: "\e949";
}

.icon-share:before {
    content: "\e94a";
}

.icon-settings:before {
    content: "\e94b";
}

.icon-server:before {
    content: "\e94c";
}

.icon-send:before {
    content: "\e94d";
}

.icon-search:before {
    content: "\e94e";
}

.icon-scissors:before {
    content: "\e94f";
}

.icon-schedule:before {
    content: "\e950";
}

.icon-scan:before {
    content: "\e951";
}

.icon-save:before {
    content: "\e952";
}

.icon-safe:before {
    content: "\e953";
}

.icon-sad:before {
    content: "\e954";
}

.icon-rupee:before {
    content: "\e955";
}

.icon-ruler:before {
    content: "\e956";
}

.icon-rocket:before {
    content: "\e957";
}

.icon-right-align:before {
    content: "\e958";
}

.icon-repeat:before {
    content: "\e959";
}

.icon-remove:before {
    content: "\e95a";
}

.icon-reload:before {
    content: "\e95b";
}

.icon-redo:before {
    content: "\e95c";
}

.icon-receipt:before {
    content: "\e95d";
}

.icon-rain:before {
    content: "\e95e";
}

.icon-puzzle:before {
    content: "\e95f";
}

.icon-promotion:before {
    content: "\e960";
}

.icon-profile-circled:before {
    content: "\e961";
}

.icon-privacy:before {
    content: "\e962";
}

.icon-printer:before {
    content: "\e963";
}

.icon-previous:before {
    content: "\e964";
}

.icon-presentation:before {
    content: "\e965";
}

.icon-power:before {
    content: "\e966";
}

.icon-playlist:before {
    content: "\e967";
}

.icon-play-circled:before {
    content: "\e968";
}

.icon-play:before {
    content: "\e969";
}

.icon-pizza:before {
    content: "\e96a";
}

.icon-pinterest:before {
    content: "\e96b";
}

.icon-pin:before {
    content: "\e96c";
}

.icon-pie-chart:before {
    content: "\e96d";
}

.icon-photos:before {
    content: "\e96e";
}

.icon-phone-call-rejected:before {
    content: "\e96f";
}

.icon-phone-call-outgoing:before {
    content: "\e970";
}

.icon-phone-call-incoming:before {
    content: "\e971";
}

.icon-phone:before {
    content: "\e972";
}

.icon-person:before {
    content: "\e973";
}

.icon-percent:before {
    content: "\e974";
}

.icon-pen:before {
    content: "\e975";
}

.icon-payment:before {
    content: "\e976";
}

.icon-pause:before {
    content: "\e977";
}

.icon-paragraph:before {
    content: "\e978";
}

.icon-paint-roller:before {
    content: "\e979";
}

.icon-paint-bucket:before {
    content: "\e97a";
}

.icon-open:before {
    content: "\e97b";
}

.icon-notification-off:before {
    content: "\e97c";
}

.icon-notification:before {
    content: "\e97d";
}

.icon-notes:before {
    content: "\e97e";
}

.icon-note:before {
    content: "\e97f";
}

.icon-next:before {
    content: "\e980";
}

.icon-new:before {
    content: "\e981";
}

.icon-music:before {
    content: "\e982";
}

.icon-multiselect:before {
    content: "\e983";
}

.icon-mouse:before {
    content: "\e984";
}

.icon-more-vertical:before {
    content: "\e985";
}

.icon-more-horizontal:before {
    content: "\e986";
}

.icon-moon:before {
    content: "\e987";
}

.icon-mobile:before {
    content: "\e988";
}

.icon-mission:before {
    content: "\e989";
}

.icon-mic-off:before {
    content: "\e98a";
}

.icon-mic:before {
    content: "\e98b";
}

.icon-messages:before {
    content: "\e98c";
}

.icon-message:before {
    content: "\e98d";
}

.icon-menu:before {
    content: "\e98e";
}

.icon-meh:before {
    content: "\e98f";
}

.icon-medal:before {
    content: "\e990";
}

.icon-map:before {
    content: "\e991";
}

.icon-mail:before {
    content: "\e992";
}

.icon-logout:before {
    content: "\e993";
}

.icon-login:before {
    content: "\e994";
}

.icon-lock:before {
    content: "\e995";
}

.icon-location:before {
    content: "\e996";
}

.icon-loader:before {
    content: "\e997";
}

.icon-live:before {
    content: "\e998";
}

.icon-list:before {
    content: "\e999";
}

.icon-linkedin:before {
    content: "\e99a";
}

.icon-link:before {
    content: "\e99b";
}

.icon-line-chart:before {
    content: "\e99c";
}

.icon-left-align:before {
    content: "\e99d";
}

.icon-leaderboard:before {
    content: "\e99e";
}

.icon-layout:before {
    content: "\e99f";
}

.icon-layers:before {
    content: "\e9a0";
}

.icon-laugh:before {
    content: "\e9a1";
}

.icon-laptop:before {
    content: "\e9a2";
}

.icon-keypad:before {
    content: "\e9a3";
}

.icon-keyboard:before {
    content: "\e9a4";
}

.icon-key:before {
    content: "\e9a5";
}

.icon-justify:before {
    content: "\e9a6";
}

.icon-italics:before {
    content: "\e9a7";
}

.icon-internet:before {
    content: "\e9a8";
}

.icon-instagram:before {
    content: "\e9a9";
}

.icon-info:before {
    content: "\e9aa";
}

.icon-inbox:before {
    content: "\e9ab";
}

.icon-image:before {
    content: "\e9ac";
}

.icon-hybrid-view:before {
    content: "\e9ad";
}

.icon-hourglass:before {
    content: "\e9ae";
}

.icon-home:before {
    content: "\e9af";
}

.icon-history:before {
    content: "\e9b0";
}

.icon-hide:before {
    content: "\e9b1";
}

.icon-help:before {
    content: "\e9b2";
}

.icon-heart:before {
    content: "\e9b3";
}

.icon-headphone:before {
    content: "\e9b4";
}

.icon-hash:before {
    content: "\e9b5";
}

.icon-hand-cursor:before {
    content: "\e9b6";
}

.icon-growth:before {
    content: "\e9b7";
}

.icon-group:before {
    content: "\e9b8";
}

.icon-grid:before {
    content: "\e9b9";
}

.icon-gift:before {
    content: "\e9ba";
}

.icon-gamepad:before {
    content: "\e9bb";
}

.icon-fuel:before {
    content: "\e9bc";
}

.icon-frown:before {
    content: "\e9bd";
}

.icon-folder-add:before {
    content: "\e9be";
}

.icon-folder:before {
    content: "\e9bf";
}

.icon-flight:before {
    content: "\e9c0";
}

.icon-flashlight:before {
    content: "\e9c1";
}

.icon-flag:before {
    content: "\e9c2";
}

.icon-fire:before {
    content: "\e9c3";
}

.icon-filter:before {
    content: "\e9c4";
}

.icon-film:before {
    content: "\e9c5";
}

.icon-files:before {
    content: "\e9c6";
}

.icon-file-add:before {
    content: "\e9c7";
}

.icon-file:before {
    content: "\e9c8";
}

.icon-figma:before {
    content: "\e9c9";
}

.icon-fast-forward:before {
    content: "\e9ca";
}

.icon-fast-backward:before {
    content: "\e9cb";
}

.icon-facebook:before {
    content: "\e9cc";
}

.icon-eye-dropper:before {
    content: "\e9cd";
}

.icon-expand:before {
    content: "\e9ce";
}

.icon-event-scheduled:before {
    content: "\e9cf";
}

.icon-event-add:before {
    content: "\e9d0";
}

.icon-euro:before {
    content: "\e9d1";
}

.icon-edit:before {
    content: "\e9d2";
}

.icon-dumbell:before {
    content: "\e9d3";
}

.icon-drop:before {
    content: "\e9d4";
}

.icon-download:before {
    content: "\e9d5";
}

.icon-donut-chart:before {
    content: "\e9d6";
}

.icon-dollar:before {
    content: "\e9d7";
}

.icon-document:before {
    content: "\e9d8";
}

.icon-diamond:before {
    content: "\e9d9";
}

.icon-design:before {
    content: "\e9da";
}

.icon-database:before {
    content: "\e9db";
}

.icon-dashboard:before {
    content: "\e9dc";
}

.icon-cycling:before {
    content: "\e9dd";
}

.icon-cursor:before {
    content: "\e9de";
}

.icon-crosshairs:before {
    content: "\e9df";
}

.icon-crop:before {
    content: "\e9e0";
}

.icon-copy:before {
    content: "\e9e1";
}

.icon-compass:before {
    content: "\e9e2";
}

.icon-command:before {
    content: "\e9e3";
}

.icon-color-palette:before {
    content: "\e9e4";
}

.icon-collapse:before {
    content: "\e9e5";
}

.icon-coffee:before {
    content: "\e9e6";
}

.icon-code:before {
    content: "\e9e7";
}

.icon-cloud-upload:before {
    content: "\e9e8";
}

.icon-cloud-off:before {
    content: "\e9e9";
}

.icon-cloud-download:before {
    content: "\e9ea";
}

.icon-cloud-check:before {
    content: "\e9eb";
}

.icon-cloud:before {
    content: "\e9ec";
}

.icon-close-circled:before {
    content: "\e9ed";
}

.icon-close:before {
    content: "\e9ee";
}

.icon-clock:before {
    content: "\e9ef";
}

.icon-clipboard:before {
    content: "\e9f0";
}

.icon-chrome:before {
    content: "\e9f1";
}

.icon-chip:before {
    content: "\e9f2";
}

.icon-chevron-up:before {
    content: "\e9f3";
}

.icon-chevron-forward:before {
    content: "\e9f4";
}

.icon-chevron-down:before {
    content: "\e9f5";
}

.icon-chevron-double-up:before {
    content: "\e9f6";
}

.icon-chevron-double-forward:before {
    content: "\e9f7";
}

.icon-chevron-double-down:before {
    content: "\e9f8";
}

.icon-chevron-double-backward:before {
    content: "\e9f9";
}

.icon-chevron-backward:before {
    content: "\e9fa";
}

.icon-check-circled:before {
    content: "\e9fb";
}

.icon-checkbox-unchecked:before {
    content: "\e9fc";
}

.icon-checkbox:before {
    content: "\e9fd";
}

.icon-check-all:before {
    content: "\e9fe";
}

.icon-check:before {
    content: "\e9ff";
}

.icon-center-align:before {
    content: "\ea00";
}

.icon-category:before {
    content: "\ea01";
}

.icon-cast:before {
    content: "\ea02";
}

.icon-cart:before {
    content: "\ea03";
}

.icon-camera:before {
    content: "\ea04";
}

.icon-calendar:before {
    content: "\ea05";
}

.icon-calculator:before {
    content: "\ea06";
}

.icon-cake:before {
    content: "\ea07";
}

.icon-bus:before {
    content: "\ea08";
}

.icon-burger:before {
    content: "\ea09";
}

.icon-bulb:before {
    content: "\ea0a";
}

.icon-building:before {
    content: "\ea0b";
}

.icon-bug:before {
    content: "\ea0c";
}

.icon-brush:before {
    content: "\ea0d";
}

.icon-briefcase:before {
    content: "\ea0e";
}

.icon-box:before {
    content: "\ea0f";
}

.icon-bookmark:before {
    content: "\ea10";
}

.icon-book:before {
    content: "\ea11";
}

.icon-bold:before {
    content: "\ea12";
}

.icon-bluetooth-off:before {
    content: "\ea13";
}

.icon-bluetooth:before {
    content: "\ea14";
}

.icon-battery-low:before {
    content: "\ea15";
}

.icon-battery-half:before {
    content: "\ea16";
}

.icon-battery-full:before {
    content: "\ea17";
}

.icon-battery-charging:before {
    content: "\ea18";
}

.icon-battery:before {
    content: "\ea19";
}

.icon-basketball:before {
    content: "\ea1a";
}

.icon-basket:before {
    content: "\ea1b";
}

.icon-bar-chart:before {
    content: "\ea1c";
}

.icon-bank:before {
    content: "\ea1d";
}

.icon-badge:before {
    content: "\ea1e";
}

.icon-attachment:before {
    content: "\ea1f";
}

.icon-at-sign:before {
    content: "\ea20";
}

.icon-arrow-up-down:before {
    content: "\ea21";
}

.icon-arrow-up:before {
    content: "\ea22";
}

.icon-arrow-forward:before {
    content: "\ea23";
}

.icon-arrow-down:before {
    content: "\ea24";
}

.icon-arrow-backward:before {
    content: "\ea25";
}

.icon-archive:before {
    content: "\ea26";
}

.icon-apple:before {
    content: "\ea27";
}

.icon-android:before {
    content: "\ea28";
}

.icon-anchor:before {
    content: "\ea29";
}

.icon-alert-circled:before {
    content: "\ea2a";
}

.icon-alarm:before {
    content: "\ea2b";
}

.icon-add-circled:before {
    content: "\ea2c";
}

.icon-add:before {
    content: "\ea2d";
}

.icon-activity:before {
    content: "\ea2e";
}